aws:
  region: "REPLACE_ME"
  account_id: "REPLACE_ME"
  
  kaggle:
  KAGGLE_USERNAME: "REPLACE_ME"
  KAGGLE_KEY: "REPLACE_ME"

s3:
  RAW_DATA_BUCKET: "REPLACE_WITH_BUCKET_NAME"
  PROCESSED_DATA_BUCKET: "REPLACE_WITH_BUCKET_NAME"